<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="basisattribute">
	<!--  
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
	-->
	<sql id="selectId">
		CREATE_TIME AS createTime,
		STATUS AS status,
		ATTR_TYPE AS attributeType,
		ATTR_COLUMN AS attributeColumn,
		ID AS id,
		ATTR_NAME AS attributeName,
		DESCN AS descn,
		REQUIRED AS required,
		MODIFY_TIME AS modifyTime,
		DISP_INX AS displayIndex,
		
		BASIS_SUBSTANCE_TYPE_ID
	</sql>
	
	<resultMap id="basisAttributeMap" type="org.cc.automate.db.entity.BasisAttribute">
        <id property="id" column="ID" />
        <result property="attributeName" column="FIELD_NAME" />
        <result property="attributeColumn" column="FIELD_COLUMN" />
        <result property="attributeType" column="FIELD_TYPE" />
        <result property="required" column="REQUIRED" />
        
        <result property="descn" column="DESCN" />
        <result property="status" column="STATUS" />
        <result property="createTime" column="CREATE_TIME" />
        <result property="modifyTime" column="MODIFY_TIME" />
        <result property="displayIndex" column="DISP_INX" />
        
        <association property="basisSubstanceType" column="BASIS_SUBSTANCE_TYPE_ID" select="basissubstancetype.getById" ></association>
    </resultMap>

	<select id="query" parameterType="java.util.HashMap" useCache="false"
		resultMap="basisAttributeMap">
		select
		<include refid="selectId" />
		from BASIS_ATTR
		<where>
			<if test="t.createTime != null and t.createTime != ''">
				and CREATE_TIME = #{t.createTime}
			</if>
			<if test="t.status != null and t.status != ''">
				and STATUS = #{t.status}
			</if>
			<if test="t.attributeType != null and t.attributeType != ''">
				and ATTR_TYPE = #{t.attributeType}
			</if>
			<if test="t.attributeColumn != null and t.attributeColumn != ''">
				and ATTR_COLUMN = #{t.attributeColumn}
			</if>
			<if test="t.id != null and t.id != ''">
				and ID = #{t.id}
			</if>
			<if test="t.attributeName != null and t.attributeName != ''">
				and ATTR_NAME = #{t.attributeName}
			</if>
			<if test="t.descn != null and t.descn != ''">
				and DESCN = #{t.descn}
			</if>
			<if test="t.basisSubstanceType != null and t.basisSubstanceType != ''">
				and BASIS_SUBSTANCE_TYPE_ID = #{t.basisSubstanceType.id}
			</if>
			<if test="t.required != null and t.required != ''">
				and REQUIRED = #{t.required}
			</if>
			<if test="t.modifyTime != null and t.modifyTime != ''">
				and MODIFY_TIME = #{t.modifyTime}
			</if>
			<if test="t.displayIndex != null and t.displayIndex != ''">
				and DISP_INX = #{t.displayIndex}
			</if>
			<if test="pager.filterText != null and pager.filterText != ''">
				and ${pager.filterText}
			</if>
		</where>
		<!-- 排序的时候不要使用预处理，不然排序无效，因此此处使用$取值，拼接SQL -->
		<if test="pager.orderBy != null and pager.orderBy != ''">
			order by ${pager.orderBy}
			<if test="pager.order != null and pager.order != ''">
				<if test="pager.order == 'ASC'">
					ASC
				</if>
				<if test="pager.order == 'DESC'">
					DESC
				</if>
			</if>
		</if>
	</select>

	<select id="queryForList" parameterType="BasisAttribute"
		resultMap="basisAttributeMap">
		select
		<include refid="selectId" />
		from BASIS_ATTR
		<where>
			<if test="createTime != null and createTime != ''">
				and CREATE_TIME = #{createTime}
			</if>
			<if test="status != null and status != ''">
				and STATUS = #{status}
			</if>
			<if test="attributeType != null and attributeType != ''">
				and ATTR_TYPE = #{attributeType}
			</if>
			<if test="attributeColumn != null and attributeColumn != ''">
				and ATTR_COLUMN = #{attributeColumn}
			</if>
			<if test="id != null and id != ''">
				and ID = #{id}
			</if>
			<if test="attributeName != null and attributeName != ''">
				and ATTR_NAME = #{attributeName}
			</if>
			<if test="descn != null and descn != ''">
				and DESCN = #{descn}
			</if>
			<if test="basisSubstanceType != null and basisSubstanceType != ''">
				and BASIS_SUBSTANCE_TYPE_ID = #{basisSubstanceType.id}
			</if>
			<if test="required != null and required != ''">
				and REQUIRED = #{required}
			</if>
			<if test="modifyTime != null and modifyTime != ''">
				and MODIFY_TIME = #{modifyTime}
			</if>
			<if test="displayIndex != null and displayIndex != ''">
				and DISP_INX = #{displayIndex}
			</if>
		</where>
		
		ORDER BY DISP_INX ASC
	</select>

	<select id="getAll" resultMap="basisAttributeMap">
		select
		<include refid="selectId" />
		from BASIS_ATTR
	</select>

	<select id="count" parameterType="BasisAttribute" resultType="int">
		select count(0) from BASIS_ATTR
		<where>
			<if test="createTime != null and createTime != ''">
				and CREATE_TIME = #{createTime}
			</if>
			<if test="status != null and status != ''">
				and STATUS = #{status}
			</if>
			<if test="attributeType != null and attributeType != ''">
				and ATTR_TYPE = #{attributeType}
			</if>
			<if test="attributeColumn != null and attributeColumn != ''">
				and ATTR_COLUMN = #{attributeColumn}
			</if>
			<if test="id != null and id != ''">
				and ID = #{id}
			</if>
			<if test="attributeName != null and attributeName != ''">
				and ATTR_NAME = #{attributeName}
			</if>
			<if test="descn != null and descn != ''">
				and DESCN = #{descn}
			</if>
			<if test="basisSubstanceType != null and basisSubstanceType != ''">
				and BASIS_SUBSTANCE_TYPE_ID = #{basisSubstanceType.id}
			</if>
			<if test="required != null and required != ''">
				and REQUIRED = #{required}
			</if>
			<if test="modifyTime != null and modifyTime != ''">
				and MODIFY_TIME = #{modifyTime}
			</if>
			<if test="displayIndex != null and displayIndex != ''">
				and DISP_INX = #{displayIndex}
			</if>
		</where>
	</select>

	<insert id="add" parameterType="BasisAttribute">
		insert into BASIS_ATTR( CREATE_TIME, STATUS, ATTR_TYPE, ATTR_COLUMN, ID, ATTR_NAME, DESCN,
		BASIS_SUBSTANCE_TYPE_ID, REQUIRED, MODIFY_TIME, DISP_INX
		)values (#{createTime},#{status}, #{attributeType}, #{attributeColumn},
		<if test="id != null and id != '' ">
			#{id},
		</if>
		<if test="id == null or id == '' ">
			UUID(),
		</if>
		#{attributeName},
		#{descn},
		#{basisSubstanceType.id},
		#{required},
		#{modifyTime},
		#{displayIndex}
		)
	</insert>

	<delete id="deleteById" parameterType="String">
		delete from BASIS_ATTR where id=#{id}
	</delete>

	<select id="getById" parameterType="String" resultMap="basisAttributeMap">
		select
		<include refid="selectId" />
		from BASIS_ATTR where id=#{id}
	</select>
	
	<select id="getByBasisSubstanceTypeId" parameterType="String" resultMap="basisAttributeMap">
		select
		<include refid="selectId" />
		from BASIS_ATTR where BASIS_SUBSTANCE_TYPE_ID=#{basisSubstanceTypeId}
		
		ORDER BY DISP_INX DESC
	</select>
	
	<delete id="deleteByBasisSubstanceTypeId" parameterType="String" >
		delete from BASIS_ATTR where BASIS_SUBSTANCE_TYPE_ID=#{basisSubstanceTypeId}
	</delete>

	<update id="update" parameterType="BasisAttribute">
		update BASIS_ATTR
		<set>
			<if test="createTime != null and createTime != ''">
				CREATE_TIME=#{createTime},
			</if>
			<if test="status != null and status != ''">
				STATUS=#{status},
			</if>
			<if test="attributeType != null and attributeType != ''">
				ATTR_TYPE=#{attributeType},
			</if>
			<if test="attributeColumn != null and attributeColumn != ''">
				ATTR_COLUMN=#{attributeColumn},
			</if>
			<if test="id != null and id != ''">
				ID=#{id},
			</if>
			<if test="attributeName != null and attributeName != ''">
				ATTR_NAME=#{attributeName},
			</if>
			<if test="descn != null and descn != ''">
				DESCN=#{descn},
			</if>
			<if test="basisSubstanceType != null and basisSubstanceType != ''">
				BASIS_SUBSTANCE_TYPE_ID=#{basisSubstanceType.id},
			</if>
			<if test="required != null and required != ''">
				REQUIRED=#{required},
			</if>
			<if test="modifyTime != null and modifyTime != ''">
				MODIFY_TIME=#{modifyTime},
			</if>
			<if test="displayIndex != null and displayIndex != ''">
				DISP_INX=#{displayIndex},
			</if>
		</set>
		where id=#{id}
	</update>
</mapper>
